body {
    background-color: #1f2227;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

h1 {
  font-size: 3em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.6;
  margin-left: 30px;
  margin-right: 30px;
}

h3 {
  padding-top: 80px;
  color: #000000;
  font-weight: bold;
}

p {
  font-size: 0.9em;
  text-align: center;
}

a {
  color: #33bdef;
}

img {
    position: relative;
    float: left;
    padding: 0;
    margin: 15px;
    border: solid 3px #FFFAF2;
}

.cover {
    display: inline-block;
    position: relative;
}

.response {
  margin-bottom: 40px;
}

.answer {
  display: none;
  opacity: 0.9;
  margin: 15px;
  position: absolute;
  height: 206px;
  width: 206px;
  background-color: #fff;
}

#overlay1a, #overlay2a, #overlay3a, #overlay4a, #overlay5a, #overlay6a, #overlay7a, #overlay8a, #overlay9a {
  visibility: hidden;
  opacity: 0.9;
  margin: 15px;
  position: absolute;
  height: 206px;
  width: 206px;
  background-color: #76E16B;
}

#overlay1b, #overlay2b, #overlay3b, #overlay4b, #overlay5b, #overlay6b, #overlay7b, #overlay8b, #overlay9b {
  visibility: hidden;
  opacity: 0.9;
  margin: 15px;
  position: absolute;
  height: 206px;
  width: 206px;
  background-color: #B71515;
}

/* insane button CSS modified from http://www.bestcssbuttongenerator.com/ */
#b {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: #8b1ec4;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #fff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #5b6178;
}
#b:hover {
	background-color: #5a1c7a;
  cursor: pointer;
}

#b2 {
  margin-top: 20px;
}

#b2:hover {
  background-color: #bdbdbd;
  cursor: pointer;
}
